body {
    background-image: url(../img/background3.jpg);
    flex-direction: column;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    margin: 0;
}

.second-container-fluid {
    background-color: #cecbcbb5;
    padding: 0.375rem;
}

.container-fluid {
    height: 55vh
}

h1, h2 {
    font-family: indieflower;
    font-size: 5rem;
    text-align: center;
    color: rgb(37, 37, 37);
    padding: 1.25rem;
    font-weight: bold;
    margin: 0;
}

h1{
    margin-top: 20px;
}
h2 {
    font-size: 3.125rem;
}

table {
    background-color: rgba(255, 255, 255, 0.623);
    margin: 0 auto;
    border: 2px solid rgb(139, 127, 127);
    width: 70%;
    text-align: center;
}

th {
    padding: 0.9rem;
    color: black;
    font-size: 2.5rem;
}

td {
    font-size: 1.87rem;
    margin: 0;
    padding: 1.3rem;
    border: black 1px solid;
}

img {
    width: 70%;
}

button {
    display: block;
    padding: 0.625rem;
    border: 2px solid white;
    border-radius: 30px;
    margin: 0 0.65rem;
    width: 10.5em;
}

button.add-book {
    margin-bottom: 0.625rem;
    margin-top: 0.625rem;
    background-color: rgb(253, 231, 231);
    color: black;
}

button:hover {
    cursor: pointer;
    background-color: white;
}

button.add-book:hover {
    background-color: white;
    color: black;
}

.pages {
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

@font-face {
    font-family: indieflower;
    src: url(../font/IndieFlower-Regular.ttf);
}

@font-face {
    font-family: ankaclm-bold;
    src: url(../font/ankaclm-bold-webfont.ttf);
}

@font-face {
    font-family: Dana-Normal;
    src: url(../font/DanaYadAlefAlefAlef-Normal.otf);
}

.modal {
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transform: scale(1.1);
    transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}

.modal-content {
    position: absolute;
    top: 50%;
    right: 10%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.76);
    padding: 1rem 1.5rem;
    width: 35rem;
    border-radius: 0.5rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 90%;
}

.close-button {
    width: 2.5rem;
    line-height: 1.5rem;
    text-align: center;
    cursor: pointer;
    border-radius: 0.25rem;
    color: black;
}

.close-button:hover {
    background-color: darkgray;
}

.show-modal {
    opacity: 1;
    visibility: visible;
    transform: scale(1.0);
    transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
    display: block;
}

.modal-content img {
    width: 20%;
}

.rating-num {
    margin: 0;
    font-size: 1.87em;
    font-weight: 700;
}

.btn-rate {
    border-radius: 20px;
    width: 4.75em;
    height: 1.87em;
    padding: 0;
}

body.rtl {
    direction: rtl;
}

.btn {
    margin-bottom: 0.625rem;
    margin-top: 0.625rem;
    background-color: rgb(253, 231, 231);
    color: black;
}
.btn:focus{
    outline: 0;
}
.lang{
    margin-top: 4.12rem;
} 
